<div>
    <span
        class="mat-prd-label"
        *ngIf="selectedDate"
    >
        <label>{{prefixLabel}}</label>
        <label class="mat-prd-selected-label">{{selectedDate | date:dateFormat}}</label>
    </span>
    <mat-calendar
        [startAt]="selectedDate"
        [selected]="selectedDate"
        [minDate]="minDate"
        [maxDate]="maxDate"
        (selectedChange)="onSelectedChange($event)"
        (yearSelected)="onYearSelected($event)"
        (_userSelection)="onUserSelection($event)"
        [dateFilter]="weekendFilter"
    >
    </mat-calendar>
</div>
